.footer {
    /* background-color: rgb(28,28,28); */
    background-color: #3B4C56;
    font-size: 20px;
    font-weight: 700;
    font-family: lato, sans-serif;
    color: #A3B3BC;
}
.footer__container{
    max-width: 1260px;
    padding: 100px 15px 0;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.footer__zag{
    color: white;
}
.footer__line{
    width: 100px;
    height: 2px;
    background-color: #fff;
    margin: 15px 0 30px 0;
}
.fotter_contact{
    margin-bottom: 15px;
    transition: all .3s;
}
.fotter_contact:last-child{
    margin-bottom: 0px;
}
.fotter_contact:hover{
    color: white;
}
label{
    text-align: center;
}
.input__footer{
    display: block;
    line-height: 28px;
    border: solid 2px #979EA2;
    border-radius: 3px;
    background: #5E6D76;
    color: #ffffff;
    padding: 0 0 0 10px;
}
.input__footer--1{
    margin-right: 30px;
}
.input__footer::placeholder{
    color: #A3B3BC;
}
.input-1{
    display: grid;
    grid-template: repeat(2, auto)/ repeat(2, auto);
}
.form{
    padding: 30px;
    border: solid 3px;
    border-radius: 30px;
    max-width: fit-content;
    background-color: #4F606A;
}
.form__text{
    text-align-last: center;
    margin-bottom: 30px;
}
.form__text2{
    margin-bottom: 10px;
}
.input__div{
    margin-bottom: 10px;
}
.input__footer--otz{
    width: 100%;
    height: 150px;
    display: block;
    line-height: 20px;
    border: solid 2px #979EA2;
    border-radius: 3px;
    background: #5E6D76;
    color: #ffffff;
    overflow-y: scroll;
    padding: 0 10px 0 10px;
    word-wrap: break-word;
    resize: none;
}
.input__footer--otz::placeholder{
    color: #A3B3BC;
    margin-right: 10px;
}
fieldset{
    display: flex;
}
.form__text{
    text-align: center;
}
.textarea__container{
    margin-bottom: 30px;
}
.form__buttons{
    display: flex;
    justify-content: center;
}
.form__buttons button{
    width: 100%;
    height: 30px;
    margin: 0 5px;
    border-radius: 3px;
    background-color: #3B4C56;
    color: #A3B3BC;
    transition: all .3s;
}
.but-1:hover{
    background-color: rgb(243, 85, 16);
    color:white;
}
.but-2:hover{
    background-color:rgb(243, 85, 16);
    color:white;
}
.button__up{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    transition: all .3s;
}
.button__up button{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
    color: #979EA2;
    font-size: 35px;
    transition: all .3s;
}
.button__up p{
    margin: 0 50px;
    transition: all .3s;
}
.button__up:hover {
    background: #546772;

}
.button__up:hover p{
    color: white;
    transform: scale(1.5);
    margin: 100px;
}
.button__up:hover path{
    fill: #fff;
}
.button__up svg{
    transform: scale(1.5);
    transition: all .3s;
}
.button__up:hover svg{
    transform: scale(2);
}