
/* -------------------------------------------------------- */
.Block_Z {
  font-family: Cormorant;
  font-weight: 700;
  font-size: 2rem;
}

.dal {
  font-size: 30px;
  border: 3px solid black;
  border-style: dotted;
  box-shadow: inset 0px 0px 55px #3f3f3f;
}

.ruba {
  font-size: 100%;
}

.aside {
  position: sticky;
}

hr {
  height: 3px;
  background: rgb(243, 85, 16);
  margin-bottom: 20px;
}

.podza {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
}

.ots {
  width: 300px;
  margin: 20px;
}

/* ----------------flex-tet-------------------------------------------- */
.flex-test__conteiner {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2rem 0;
}

.flex-test__conteiner--element {
  flex-grow: 1;
  flex-basis: 200px;
  width: auto;
  padding: 5px;
  display: flex;
  align-items: stretch;
  height: 4rem;
}

.element {
  background: #000;
  color: white;
  text-align: center;
  width: 100%;
}

/* ----------------felx-test_2---------------------- */
.Block_Z {
  font-family: Cormorant;
  font-weight: 700;
  font-size: 2rem;
}

.flex-test__2 {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding: 5% 5% 5% 5%;
}

.flexbox__container--photo {
  width: 20%;
  flex-grow: 1;
}

.flexbox__container--photo:hover {
  flex-basis: 3;
}

/* ---------------------------CSS------------------------ */
/* -------------------------Lesson_1----------------------- */
/* .CSS__Lesson {
  padding: 2.5% 5% 2.5% 5%;
  line-height: 20px;
} */

.parent-blue {
  color: rgb(0, 255, 255);
}

#id-1 {
  background-color: aquamarine;
}

.block {
  color: coral;
}

.blinck1, .blinck2, .blinck3 {
  color: blueviolet;
}

div.loga {
  color: brown;
}

span.loga {
  color: chocolate;
}

.parent-1>.child {
  color: royalblue;
}

/* ---------------------------Lesson_2------------------------ */
.one {
  color: rgb(255, 0, 0);
}

.fontfamily {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text1 {
  font-family: serif;
}

.size {
  font-size: 20px;
}

.height {
  line-height: 50px;
}

.style {
  font-style: italic;
}

.weight {
  font-weight: 900;
}

.text-align {
  text-align: center;
}

.decoration {
  text-decoration: underline;
}

.shadow {
  text-shadow: 2px 2px 2px #000;
}

.transform {
  text-transform: capitalize;
}

.indent {
  text-indent: 50px;
}

.spacing {
  letter-spacing: 5px;
}

.word-spacing {
  word-spacing: 10px;
}

/* .white-space {
    white-space: nowrap;
} */
/* ---------------------------Lesson_3--------------------- */
.kubik {
  width: 50vmin;
  height: 200px;
  background: #666666;
  margin-bottom: 20px;
  padding: 20px 0 20px;
}

.kubik_2 {
  width: 50vmax;
  height: 200px;
  background: #666666;
  margin-bottom: 20px;
}

.kubik_text {
  color: white;
  text-align: center;
}

.em-3 {
  font-size: 1.5em;
  line-height: normal;
  color: white;
}

/* ----------------------------Lesson_4-------------------- */
.gg {
  width: 600px;
  margin-bottom: 20px;
}

/* -----------------------------Lesson_5----------------------- */
.wrapper_l5 {
  padding: 100px 15px;
  height: 600px;
}

.container__0 {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  height: 100%;
  border: 10px solid #999;
  display: flex;
  background: white;
}

.block {
  height: 300px;
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.842);
}

.red {
  background-color: rgb(235, 118, 118);
  color: white;
  text-align: center;
}

.blue {
  background-color: rgb(80, 91, 235);
  color: white;
  text-align: center;
  position: relative;
  top: 20px;
  left: 30px;
}

.orange {
  background-color: rgb(224, 158, 59);
  position: absolute;
  color: white;
  text-align: center;
  top: 100px;
  left: 30px;
}

.green {
  background-color: rgb(113, 212, 113);
  position: sticky;
  color: white;
  text-align: center;
  top: 0px;
  left: 0px;
}

.purple {
  background-color: rgb(205, 148, 231);
  color: white;
  text-align: center;
  /* position: fixed;
    top: 50px; */
}

/* -------------------------------Lesson_6-------------------- */
.l6 {
  font-family: serif;
  color: white;
  text-align: center;
}

.container_1 {
  margin: 0 auto;
  max-width: 800px;
}

.line {
  background-color: #fff;
  height: 2px;
}

.translate, .rotate, .scale, .skew {
  padding: 100px 0 0;
  margin-bottom: 20px;
}

h2 {
  font-family: sans-serif;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 100px;
}

.translate__blocks,
.rotate__blocks,
.scale__blocks,
.skew__blocks {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.red_block,
.blue_block {
  width: 300px;
  height: 300px;
}

.red_block {
  background-color: rgba(240, 82, 82, 0.699);
}

.blue_block {
  background-color: rgba(102, 102, 228, 0.671);
}

.translate__red {
  transform: translate(0px, -100px);
}

.translate__blue {
  transform: translateY(20px);
}

.rotate__red {
  transform: rotatex(970deg);
}

.rotate__blue {
  transform: rotate(45deg);
}

.scale__red {
  transform: scale(.8);
}

.scale__blue {
  transform: scaleX(2);
}

.skew__red {
  transform: skew(70deg, 150deg);
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
}

/* ------------------------Lesson_8------------------------ */
.cont_1 {
  padding: 0px 100px 100px;
  height: 200px;
}

.cont_2 {
  margin-bottom: 50px;
}

.but {
  background-color: #00ffff;
  font-size: 5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-transform: uppercase;
  transition: border-radius 0.5s, background-color 0.5s 0.5s
}

.but:hover {
  border-radius: 50px;
  background-color: #00ff22;
}

.transition_t {
  height: 100%;
}

.block_t {
  width: 10px;
  height: 150px;
  transition: 1s;
}

.red_t {
  background-color: rgb(221, 108, 108);
  transition-timing-function: ease;
}

.blue_t {
  background-color: rgb(116, 108, 221);
  transition-timing-function: ease-in;
}

.orange_t {
  background-color: rgb(221, 163, 108);
  transition-timing-function: ease-out;
}

.purple_t {
  background-color: rgb(166, 108, 221);
  transition-timing-function: linear;
}

.transition:hover .block_t {
  width: 100%;
}

.img_trans {
  display: block;
  width: 80%;
  margin: 50px auto 0 auto;
}

.t_t {
  margin-bottom: 20px;
}

/* -----------------Lesson_9---------------- */
.wrapper_a {
  padding: 50px;
  height: 300px;
  background-color: #333;
}

.container_a {
  position: relative;
  height: 200px;
  background-color: #444;
}

.block_a {
  background-color: #fff;
  height: 200px;
  width: 200px;
  position: absolute;
}

.block_a {
  animation: move-block 3s linear alternate infinite running forwards;
  /* animation-name: ; */
  /* animation-duration: ; */
  /* animation-timing-function: ; */
  /* animation-iteration-count: ; */
  /* animation-direction: ; */
  /* animation-delay: ; */
  /* animation-fill-mode: ; */

}

.block_a:hover {
  animation-play-state: paused;
}

@keyframes move-block {
  0% {
    left: 0;
  }

  50% {
    border-radius: 50%;
  }

  100% {
    left: calc(100% - 200px);
  }
}

.pater {
  background-color: black;
  height: 25px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;

}

.polosa {
  color: white;
  float: left;
  margin-right: 2%;
}

.glaz {
  background-color: rgb(255, 0, 0);
  /* background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.9) 25%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.9) 75%);
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.9) 25%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.9) 75%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.9) 25%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.9) 75%); */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 25%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.9) 75%);
  color: white;
  height: 100%;
  width: 20%;

  /* -webkit-animation: 4s linear 0s infinite alternate move_eye;
    -moz-animation: 4s linear 0s infinite alternate move_eye;
    -o-animation: 4s linear 0s infinite alternate move_eye; */
  animation: 1s linear 0s infinite alternate move_eye;
}

@-webkit-keyframes move_eye {
  from {
    margin-left: -20%;
  }

  to {
    margin-left: 100%;
  }
}

@-moz-keyframes move_eye {
  from {
    margin-left: -20%;
  }

  to {
    margin-left: 100%;
  }
}

@-o-keyframes move_eye {
  from {
    margin-left: -20%;
  }

  to {
    margin-left: 100%;
  }
}

@keyframes move_eye {
  from {
    margin-left: -20%;
  }

  to {
    margin-left: 100%;
  }
}

.glaz:hover {
  animation-play-state: paused;
}

.t_a {
  margin-bottom: 20px;
}

.img_a {
  display: block;
  width: 80%;
  margin: 50px auto 0 auto;
}

/* -----------------------Lesson_10-------------- */
.wrapper_f {
  padding: 50px;
  height: 100%;
}

.flexbox {
  border: 20px solid rgb(231, 203, 172);
  margin-bottom: 20px;
}

.flexbox__item {
  border: 20px solid rgb(143, 119, 91);
}

.flexbox__item-content {
  background-color: rgb(83, 64, 44);
  text-align: center;
  padding: 50px;
  font-size: 3rem;
}

.flexbox__item:nth-child(2) .flexbox__item-content {
  padding: 75px 50px;
}

.desc {
  display: flex;
}

.desc__item {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.desc__color {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #fff;
}

.desc__color--f {
  background-color: rgb(231, 203, 172);
}

.desc__color--i {
  background-color: rgb(143, 119, 91);
}

.desc__color--c {
  background-color: rgb(83, 64, 44);
}

.flexbox {
  display: flex;
  justify-content: space-between;
  /* align-items: stretch; */
  /* flex-wrap: wrap-reverse; */
}

.img_f {
  display: block;
  width: 80%;
  margin: 50px auto 0 auto;
}

/* ----------------Lesson_11------------------- */
.wrapper_g {
  padding: 50px;
  min-height: 100%;
}

.container_g {
  max-width: 1000px;
  margin: 0 auto;
}

.grid {
  margin-bottom: 20px;
}

.item {
  border: 5px dashed #444;
  font-size: 40px;
  padding: .8em;
  text-align: center;
}

.t_g {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.img_g {
  display: block;
  width: 80%;
  margin: 50px auto 20px auto;
}

/* -----1st_grid------ */
.grid-1 {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px auto; */
  grid-template: repeat(2, 300px) / repeat(3, 1fr);
  justify-items: start;
  align-items: start;
}

.grid-1__item--1 {
  order: 1;
}

.grid-1__item--2 {
  order: 2;
}

.grid-1__item--3 {
  order: 5;
}

.grid-1__item--4 {
  order: 4;
  justify-self: stretch;
  align-self: center;
}

.grid-1__item--5 {
  order: 3;
}

.grid-1__item--6 {
  order: 6;
}

/* -----2nd_grrid----- */
.grid-2 {
  display: grid;
  grid-template:
    "header header"1fr "main aside"5fr "footer footer"2fr / 1fr 300px;
}

.grid-2__item--header {
  grid-area: header;
}

.grid-2__item--main {
  grid-area: main;
}

.grid-2__item--aside {
  grid-area: aside;
}

.grid-2__item--footer {
  grid-area: footer;
}

/* ------3d_grid----- */
.grid-3 {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-auto-rows: 400px;
  /* grid-auto-columns: 500px; */
  grid-auto-flow: dense;
}

.grid-3__item--6 {
  grid-column: span 2;
}

/* ------4th_grid------ */
.grid-4 {
  display: grid;
  grid-template: [liner1] 1fr [liner2] 1fr [liner3] / [col1] 1fr [col2] 1fr [col3] 1fr [col4];
  row-gap: 20px;
  column-gap: 50px;
}

.grid-4__item--3 {
  /* grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4; */
  /* grid-row: 2 / 3;
    grid-column: 2 /4; */
  grid-row: liner2 / liner3;
  grid-column: col3 / col4;
}

/* ---------------------Lesson_12--------------------------- */
.wrapper__12 {
  padding: 50px;
  min-height: 100%;
}

.p__l12 {
  width: max-content;
  margin: 0 auto 20px auto;
}

.container__12 {
  max-width: 1000px;
  margin: 0 auto;
}

.link {
  display: block;
  background-color: #555;
  border-radius: 2em;
  padding: 2em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.input {
  display: block;
  width: 100%;
  padding: 2em;
  margin-bottom: 20px;
  font-size: inherit;
}

/* -------------------------- */
.link:visited {
  background: #6975ff;
}

.link:hover {
  background: rgb(72, 255, 72);
}

.link:active {
  background: #ff7e7e;
}

.input {
  transition: .3s;
}

.input:focus {
  box-shadow: 0 0 10px 10px white;
}

.list__item:first-child {
  color: red;
}

.list__item:last-child {
  color: rgb(0, 255, 42);
}

.list__item:nth-child(3) {
  color: aquamarine;
}

/* ----------------------Lesson_13----------------------------------- */
.wrapper__13 {
  padding: 50px;
  min-height: 100%;
}

.container__13 {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.link__13,
.list,
.block {
  margin-bottom: 100px;
}

.block__13 {
  background-color: rgb(199, 105, 105);
  width: 100%;
  height: 200px;
  max-width: 200px;
  border-radius: 1rem;
}

.link__13 {
  align-self: flex-start;
  background-color: rgb(111, 105, 199);
  border-radius: 1rem;
  padding: 2rem;
  display: inline-flex;
  align-items: center;
}

/* ---------------------------------------- */
.block-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.block-wrapper::before {
  content: "before";
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: block; */
  background-color: rgb(199, 105, 105);
  width: 100%;
  height: 200px;
  max-width: 200px;
  border-radius: 1rem;
}

.block-wrapper::after {
  content: "after";
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: block; */
  background-color: rgb(199, 105, 105);
  width: 100%;
  height: 200px;
  max-width: 200px;
  border-radius: 1rem;
  position: absolute;
  top: 0px;
  left: 200px;
}

.list__item__13::before {
  content: "";
  display: inline-block;
  background-color: aqua;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.link__13::after {
  /* display: block; */
  content: "";
  width: 1em;
  height: 1em;
  background: url(/images/tab-icon.ico) 0 0 / 100% 100%;
}

.link__13:hover::after {
  background: url(/images/thumbs-up.svg) 0 0 / 100% 100%;
}

.text::first-line {
  color: #6aff00;
}

.text::first-letter {
  font-size: 200%;
}

