.aside__1 {
    /* position: static; */
    /* width: 25%; */
}
/* ---------------------CSS_List----------------------- */
.wrapper__aside--1 {
    height: 100vh;
    position: fixed;
    z-index: 5;
    padding: 0 1% 10% 1%;
    width: 20%;
    background: fixed #485461;
    background: fixed linear-gradient(315deg, #485461 0%, #28313b 74%);
    font-family: Cormorant;
    overflow: scroll;
    /* overflow-x: hidden; */
}
.inner__aside{
    margin: 0 auto 0 auto;
}
.li__css--zag{
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
}
.li__html {
}
.li__html--p {

}
.li__css {
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.button__li{
    width: 100%;
    background: inherit;
    /* display: block; */
}
.li__css--line{
    width: 0%;
    height: 3px;
    /* padding: 0 5%; */
    margin: 0 auto 0 auto;
    background: rgb(243, 85, 16);
    transition: .5s ease-out;
}
.li__css--linez{
    height: 3px;
    background: rgb(243, 85, 16);
}
.li__css--p:hover .li__css--line{
    width: 100%;
}
.li__css--p:hover .button__element{
    /* text-indent: 20px; */
    margin-left: 5%;
}
.button__element{
    line-height: 40px;
    text-align: left;
    color: white;
    font-size: 20px;
    /* text-indent: 10px; */
    transition: .5s ease-out;
    text-wrap: nowrap;
}